.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__control, &__gen-anime {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__anime-square {
    width: 50px;
    height: 50px;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

    &--x1-y0 {
      transform: translateX(100px) rotate(15deg) translateY(0);
    }
    &--x1-y1 {
      transform: translateX(100px) rotate(30deg) translateY(100px);
    }
    &--x0-y1 {
      transform: translateX(0) rotate(45deg) translateY(100px);
    }

  }
  &__anime-image {
    width: 100%;
    height: auto;
  }
}
